@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Mermish Translator</h1>
    <div class="text-center">
        <form method="post">
            <div style="text-align:center;">
                <textarea id="textbox1" name="textbox1" style="width: 50%; height: 200px;"></textarea><br>
                <textarea id="textbox2" name="textbox2" style="width: 50%; height: 200px;"></textarea><br>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>
